<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un baión para el ojo idiota</title>
    <link rel="stylesheet" href="../css/baion.css">
    <link rel="icon" href="../img/baion.jpeg">
</head>
<body>
    <header>
        <div>
             <h1 class="baion">Un baión para el ojo idiota</h1>
        </div>
    </header>

    <main>
    <div class="principalbaion">
        <a href="" class="baionimg"><img src="../img/baion.jpeg" alt=""></a>
        <p>Un baión para el ojo idiota es el tercer álbum de estudio del grupo musical, fue editado en 1988. Según el Indio Solari, vocalista y líder del grupo junto a Skay Beilinson es una de las grabaciones que mejor capta el espíritu y la idea musical del grupo durante esos años. Varias canciones del álbum se han convertido en clásicos del grupo como «Masacre en el puticlub»,  «Aquella solitaria vaca cubana» y «Todo un palo»</p>

        <h2>Canciones:</h2>

        <ul>«Masacre en el puticlub» (4:48)</ul>
        <ul>«Noticias de ayer» (4:25)</ul>
        <ul>«Aquella solitaria vaca cubana» (4:16)</ul>
        <ul>«Todo preso es político» (5:56)</ul>
        <ul>«Vencedores vencidos» (3:30)</ul>
        <ul>«Vamos las bandas» (3:27)</ul>
        <ul>«Ella debe estar tan linda» (4:02)</ul>
        <ul>«Todo un palo» (7:25)</ul>
        <hr>

        <h2>Todo un palo:</h2>
        <iframe width="1022" height="575" src="https://www.youtube.com/embed/XhYiBaYux4Y" title="Patricio Rey y sus Redonditos de Ricota - Todo un Palo (Audio Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <footer>
            <a href="../../index.html">Volver al Inicio</a>
            
            </footer>
            

    </main>
</body>
</html>