<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bang! ¡Bang! Estás liquidado</title>
    <link rel="stylesheet" href="../css/bang.css">
</head>

<body>
    <header> 
        <div>
             <h1 class="bang">¡Bang! ¡Bang! Estás liquidado</h1>
        </div>
    </header>
    <main>
        <div class="principalbang">
            <a href="../../index.html" class="bangimg"><img src="../img/bang.jpg" alt=> </a>
            <p>¡Bang! ¡Bang!... Estás liquidado es el cuarto álbum de estudio del grupo . La edición argentina de la revista Rolling Stone lo ubicó en el puesto 33.º entre los 100 mejores discos del rock nacional.</p>
            <p>Después del éxito de Un baión para el ojo idiota, se presentaron varias propuestas de sellos para producir a la banda, pero el grupo decidió que tenían que seguir con su independencia, así que durante 1989 la banda se concentró en grabar en el estudio Del Cielito lo que sería el nuevo material, el disco no fue tan exitoso en el mercado, pero es considerado por los fanáticos de la banda como uno de los mejores.En este album se destacan canciones como "esa estrella era mi lujo" y "Ropa sucia"</p>
            <h2>Canciones:</h2>
            <ul>«Héroe del whisky» (3:42).</ul>
            <ul>«Rock para los dientes» (3:29).</ul>
            <ul>«La parabellum del buen psicópata» (5:56).</ul>
            <ul>«Un Pacman en el Savoy» (3:31).</ul>
            <ul>«Nadie es perfecto» (2:22).</ul>
            <ul>«Esa estrella era mi lujo» (2:54).</ul>
            <ul>«Maldición, va a ser un día hermoso» (2:27).</ul>
            <ul>«Ropa sucia» (4:24).</ul>
            <ul>«Nuestro amo juega al esclavo» (4:00).</ul>

            <h2>Esa estrella era mi lujo:</h2>
            <iframe width="1019" height="573" src="https://www.youtube.com/embed/SePSMFlQcek" title="Patricio Rey y sus Redonditos de Ricota - Esa Estrella Era Mi Lujo (Audio Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <footer>
                <a href="../../index.html">Volver al Inicio</a>
                
                </footer>
                



    
    
        </main>
</body>
</html>