<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gulp</title>
    <link rel="stylesheet" href="../css/Gulp.css">
     <link rel="icon" href="../img/gulp">   
</head>
<body>
    <header>
    <h1 class="gulph1">Gulp!</h1>
    </header>
    <main>
    <div class="principalgulp">
    <a href="" class="gulpimg"><img src="../img/gulp" alt=""></a>
    <p>Gulp! es el álbum debut del grupo musical de Argentina Patricio Rey y sus Redonditos de Ricota, publicado por el sello Wormo en 1985,Cuenta con canciones muy conocidas dentro del  rock nacional argentino como "La bestia pop"</p>
</div>
<h2>Canciones:</h2>

<ul>«Barbazul versus el amor letal» (04:14)</ul> 
<ul>«La bestia pop» (04:03)</ul>
<ul>«Roto y mal parado» (04:31)</ul>
<ul>«Pierre, el vitricida» (01:01)</ul>
<ul>«Unos pocos peligros sensatos» (03:02)</ul>
<ul>«Yo no me caí del cielo» (03:00)</ul>
<ul>«Te voy a atornillar» (03:30)</ul>
<ul>«Superlógico» (03:01)</ul>
<ul>«Ñam fri frufi fali fru» (02:36)</ul>
<ul>«El infierno está encantador esta noche» (04:49)</ul>
<ul>«Criminal Mambo» (04:04)</ul>
<ul>«Pianito - Jam (pista oculta)» (00:53)</ul>

<article>
    <h5>La bestia pop:</h5>
    <iframe width="1022" height="575" src="https://www.youtube.com/embed/PAq7xAqXTxk" title="Patricio Rey y sus Redonditos de Ricota - La Bestia Pop (Audio Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</article>
<footer>  
    <a href="../../index.html">Volver al Inicio</a>
</footer>  
</main>

</body>
</html>