<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La mosca y la Sopa</title>
    <link rel="stylesheet" href="../css/mosca.css">
    <link rel="icon" href="../img/mosca.jpeg">
</head>
<body>
    <header>
    <h1>La Mosca y La Sopa</h1>
    </header>
    <main>
            <a href="../../index.html"><img src="../img/mosca.jpeg" alt=""></a>

            <p>La mosca y la sopa es el quinto álbum de estudio del grupo musical argentino Patricio Rey y sus Redonditos de Ricota, publicado en el 27 de octubre de 1991.</p>
            <p>El álbum tiene canciones que más tarde se convirtieron en clásicos del grupo como «Mi perro Dinamita» y «Un poco de amor francés».</p>

            <h2>Canciones:</h2>
            <ul>«Toxi-Taxi» (3:38)</ul>
            <ul>«Fusilados por la cruz roja» (4:13)</ul>
            <ul>«Un poco de amor francés» (3:25)</ul>
            <ul>«Mi perro Dinamita» (2:35)</ul>
            <ul>«Blues de la artillería» (4:29)</ul>
            <ul>«Tarea fina» (3:42)</ul>
            <ul>«El pibe de los astilleros» (3:32)</ul>
            <ul>«Nueva Roma» (3:13)</ul>
            <ul>«Salando las heridas» (5:01)</ul>
            <ul>«Queso ruso» (4:51)</ul>

            <h3>Un poco de amor frances:</h3>
            <iframe width="1019" height="573" src="https://www.youtube.com/embed/WlFLpKaC4_c" title="Patricio Rey y sus Redonditos de Ricota - Un Poco de Amor Frances (Audio Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <footer>
                <a href="../../index.html">Volver al Inicio</a>
                
                </footer>









    </main>
</body>
</html>