<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oktubre</title>
    <link rel="stylesheet" href="../css/oktubre.css">
    <link rel="icon" href="../img/oktubrec.jpeg">
</head>
<body>
    <header>
        <div>
             <h1 class="oktubre">Oktubre!</h1>
        </div>
    </header>

    <main>
        <div class="principaloktubre">
        <a href="" class="oktubreimg"><img src="../img/oktubrec.jpeg" alt=""></a>
        <p>Oktubre es el segundo álbum de estudio de la banda. Fue editado en octubre de 1986. Grabado a mediados de 1986, el álbum se caracteriza por un sonido que incorporó influencias del new wave y el post-punk (lo cual significó un cambio con respecto a su álbum anterior, Gulp!), y por su narrativa con elementos distópicos, inspirada por las revoluciones sociales históricas y el contexto bélico internacional de la Guerra Fría, así como también del escenario político de Argentina en el período de la vuelta a la democracia.
            </p><article>
           <p> El arte de tapa, diseñado por el artista plástico Rocambole, está inspirado en la Revolución rusa de 1917.</p>
            </article>
           <p> En 2007, la versión argentina de la revista Rolling Stone situó a Oktubre en el puesto n.º 4 en su lista de "Los 100 mejores álbumes del rock argentino".</p>
           <article><p>En este album se encuentra probablemente una de las canciones mas conocidas de la banda y del rock nacional,estamos hablando de "jijiji"</p></article>
    </div>

    <h2>Canciones:</h2>

    <ul>«Fuegos de octubre»	3:37</ul>
    <ul>«Preso en mi ciudad»	4:03</ul>
    <ul>«Música para pastillas»	4:34</ul>
    <ul>«Semen-Up»	5:21</ul>
    <ul>«Divina Tv. Führer»	3:01</ul>
    <ul>«Motor psico»	4:56</ul>
    <ul>«Jijiji»	5:34</ul>
    <ul>«Canción para naufragios»	6:01</ul>
    <ul>«Ya nadie va a escuchar tu remera»	3:59</ul>

    <article>
        <h2>"Jijiji":</h2>
        <iframe width="1019" height="573" src="https://www.youtube.com/embed/CnJqYsSOgfg" title="Patricio Rey y sus Redonditos de Ricota - Jijiji (Audio Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </article>
    <footer>
    <a href="../../index.html">Volver al Inicio</a>
    
    </footer>
    
    
    
    
    
    
    

 </main>
</body>
</html>